langchain==1.2.15
langgraph==1.1.6
pydantic==2.11.7
langchain_huggingface
langchain-groq==1.1.1
fastapi==0.118.1
uvicorn
langmem==0.0.30
SQLAlchemy==2.0.41
google-auth==2.49.1
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
transformers
pydantic-settings
email-validator
itsdangerous
python-jose[cryptography]
passlib[bcrypt]
google-api-python-client
langchain-google-community
